<%- include('../layouts/adminHeader.ejs') %>
    <div class="ex-form-1 mt-5 pt-5 pb-5">
        <div class="container">
            <div class="col-xl-6 offset-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" style="display: flex; justify-content: center;">
                            <h3>Add Coupon</h3>
                        </div>
                        <hr>
                        <% if(typeof message!=='undefined' ){ %>
                            <h4>
                                <p style="color: red;">
                                    <%= message%>
                                </p>
                            </h4>
                            <% } %>
                                <% if(typeof messages!=='undefined' ){ %>
                                    <h4>
                                        <p style="color: green;">
                                            <%= messages%>
                                        </p>
                                    </h4>
                                    <% } %>
                                        <form action="/admin/addcoupon" method="post">
                                            <div class="form-group mb-3">
                                                <input type="text" class="form-control form-control-rounded"
                                                    name="name" id="input-7" placeholder="Enter coupon Name" required>
                                            </div>
                                            <div class="form-group mb-3">
                                                <input type="text" class="form-control form-control-rounded"
                                                    name="type" id="input-7" placeholder="Enter coupon type" required>
                                            </div>
                                            <div class="form-group mb-3">
                                                <input type="text" class="form-control form-control-rounded"
                                                    name="discount" id="input-7" placeholder="Enter coupon discount" required>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <button value="submit" class="btn btn-light btn-round"><i
                                                        class="icon-arrow-right"></i>
                                                    Add Coupon</a></button>
                                                <a href="/admin/couponlist" class="btn btn-light btn-round">Coupon
                                                    List</a>
                                            </div>
                                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/adminFooter.ejs') %>