<%- include('../layouts/userLoggedHeader.ejs') %>
    <div class="container text-center" style="height: 80vh;">
        <div class="mt-5">
            <h1 style="text-align: center;">Order Success</h1>
            <p class="mt-5">Thank you for shopping with us..</p>
        </div>
        <div class="mt-5">
            <a href="/home" class="btn btn-outline-info"> <span class="arrow_left">
                </span>Go back Home</a>
        </div>
    </div>
    <%- include('../layouts/userFooter.ejs') %>